<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag(profile_path(@user, format: :css)) %>
<% end %>

<div class="profile">
  <h1><%= @profile.name %></h1>
  <p>Location: <%= @profile.location %></p>
</div>